<a href="https://colab.research.google.com/github/AjMing/BigData/blob/main/Demo_SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Installing required packages
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: findspark in /usr/local/lib/python3.11/dist-packages (2.0.1)

In [ ]:
import findspark
findspark.init()

In [ ]:
# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the spark context.
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [ ]:
# Creating a spark context class
sc = SparkContext()

In [ ]:
spark = SparkSession \
    .builder \
    .getOrCreate()

In [ ]:
data=[('A',1),('B',2),('C',3)]

In [ ]:
rdd=sc.parallelize(data)

In [ ]:
print(rdd.glom().collect())

[[('A', 1)], [('B', 2), ('C', 3)]]

# Create DataFrame

In [ ]:
dfFromRDD=rdd.toDF()
dfFromRDD.printSchema()
dfFromRDD.show()

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+---+---+
| _1| _2|
+---+---+
|  A|  1|
|  B|  2|
|  C|  3|
+---+---+

In [ ]:
header=['key','value']

In [ ]:
dfFromRDD1=rdd.toDF(header)
dfFromRDD1.printSchema()

root
 |-- key: string (nullable = true)
 |-- value: long (nullable = true)

In [ ]:
dfFromRDD.show()

+---+---+
| _1| _2|
+---+---+
|  A|  1|
|  B|  2|
|  C|  3|
+---+---+

In [ ]:
dfFromRDD1.show()

+---+-----+
|key|value|
+---+-----+
|  A|    1|
|  B|    2|
|  C|    3|
+---+-----+

Option2: Import RDD with column

In [ ]:
dfFromRDD2=spark.createDataFrame(rdd).toDF(*header)

In [ ]:
dfFromRDD2.printSchema()

root
 |-- key: string (nullable = true)
 |-- value: long (nullable = true)

In [ ]:
dfFromRDD2.show()

+---+-----+
|key|value|
+---+-----+
|  A|    1|
|  B|    2|
|  C|    3|
+---+-----+

Option3: Import the data directly

In [ ]:
dfFromRDD3=spark.createDataFrame(data).toDF(*header)
dfFromRDD3.printSchema()
dfFromRDD3.show()

root
 |-- key: string (nullable = true)
 |-- value: long (nullable = true)

+---+-----+
|key|value|
+---+-----+
|  A|    1|
|  B|    2|
|  C|    3|
+---+-----+

In [ ]:
sc.stop()

# Import DataFrame

In [ ]:
# Creating a spark session
spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames Import example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [ ]:
#dataframe native

In [ ]:
dataframe = spark.read.csv("student.csv",header='true',inferSchema=True)
dataframe.show()
dataframe.printSchema()

+---+----------+-----+--------------------+-----+--------------------+
|No.|Student ID|Title|      Name - Lasname|Class|             WebMail|
+---+----------+-----+--------------------+-----+--------------------+
|  1|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|
|  2|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|
|  3|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|
|  4|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|
|  5|   6513112|  Mr.|THANAKRIT CHUTIWO...|    3|thanakrit.chi@stu...|
|  6|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|
|  7|   6513115|  Mr.|    PORAMES AIMLAONG|    3|porames.aim@stude...|
|  8|   6513118|  Mr.|        PISIT SAEJIA|    3|pisit.saa@student...|
|  9|   6513121|  Mr.|SUPAKORN THAVORNVONG|    3|supakorn.thv@stud...|
| 10|   6513122|  Mr.|SORAWIT PHATTHARA...|    3|sorawit.pha@stude...|
| 11|   6513123|  Mr.|   ANAPAT KITSOMMART|    3|anapat.kit@studen...|
| 12|   6513134|  Mr.|   PUTHIPONG YOMABUT|    3|putthipong.yom@st...|
| 13|   6513136|  Mr.|     MAHANNOP THABUA|    3|mahannop.tha@stud...|
| 14|   6513160|  Mr.|KUNANONT VUTIPRAS...|    3|kunanont.vut@stud...|
| 15|   6513161|  Mr.| JARUPAT CHODSITANAN|    3|jarupat.cho@stude...|
| 16|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|
| 17|   6513168|  Mr.| NOPPARUJ RITNATIKUL|    3|nopparuj.rit@stud...|
| 18|   6513170|  Mr.|   PATIHARN KAMENKIT|    3|patiharn.kam@stud...|
| 19|   6513172|  Mr.|PHATTARADANAI SOR...|    3|phattaradanai.sor...|
| 20|   6513174|  Mr.|WATDANAI SANSENAK...|    3|watdanai.san@stud...|
+---+----------+-----+--------------------+-----+--------------------+
only showing top 20 rows

root
 |-- No.: integer (nullable = true)
 |-- Student ID: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Name - Lasname: string (nullable = true)
 |-- Class: integer (nullable = true)
 |-- WebMail: string (nullable = true)

In [ ]:
dataframe.head()

Row(No.=1, Student ID=6413104, Title='Ms.', Name - Lasname='PANFA TONSOMBOON', Class=4, WebMail='panfa.ton@student.mahidol.ac.th')

In [ ]:
#Get Column Name
dataframe.columns

['No.', 'Student ID', 'Title', 'Name - Lasname', 'Class', 'WebMail']

In [ ]:
dataframe.select(['Student ID','Name - Lasname']).show()

+----------+--------------------+
|Student ID|      Name - Lasname|
+----------+--------------------+
|   6413104|    PANFA TONSOMBOON|
|   6413108|      PALARP WASUWAT|
|   6413213|      TAWANWAD ONNOM|
|   6513111|   CHUTIYA THANALUCK|
|   6513112|THANAKRIT CHUTIWO...|
|   6513114|NIPATSA CHAINIWAT...|
|   6513115|    PORAMES AIMLAONG|
|   6513118|        PISIT SAEJIA|
|   6513121|SUPAKORN THAVORNVONG|
|   6513122|SORAWIT PHATTHARA...|
|   6513123|   ANAPAT KITSOMMART|
|   6513134|   PUTHIPONG YOMABUT|
|   6513136|     MAHANNOP THABUA|
|   6513160|KUNANONT VUTIPRAS...|
|   6513161| JARUPAT CHODSITANAN|
|   6513163|    CHALISA BUATHONG|
|   6513168| NOPPARUJ RITNATIKUL|
|   6513170|   PATIHARN KAMENKIT|
|   6513172|PHATTARADANAI SOR...|
|   6513174|WATDANAI SANSENAK...|
+----------+--------------------+
only showing top 20 rows

In [ ]:
df_new = dataframe.withColumn('Graduation Year',4-dataframe['class']+2025)

In [ ]:
df_new.show()

+---+----------+-----+--------------------+-----+--------------------+---------------+
|No.|Student ID|Title|      Name - Lasname|Class|             WebMail|Graduation Year|
+---+----------+-----+--------------------+-----+--------------------+---------------+
|  1|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|
|  2|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|
|  3|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|
|  4|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|
|  5|   6513112|  Mr.|THANAKRIT CHUTIWO...|    3|thanakrit.chi@stu...|           2026|
|  6|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|
|  7|   6513115|  Mr.|    PORAMES AIMLAONG|    3|porames.aim@stude...|           2026|
|  8|   6513118|  Mr.|        PISIT SAEJIA|    3|pisit.saa@student...|           2026|
|  9|   6513121|  Mr.|SUPAKORN THAVORNVONG|    3|supakorn.thv@stud...|           2026|
| 10|   6513122|  Mr.|SORAWIT PHATTHARA...|    3|sorawit.pha@stude...|           2026|
| 11|   6513123|  Mr.|   ANAPAT KITSOMMART|    3|anapat.kit@studen...|           2026|
| 12|   6513134|  Mr.|   PUTHIPONG YOMABUT|    3|putthipong.yom@st...|           2026|
| 13|   6513136|  Mr.|     MAHANNOP THABUA|    3|mahannop.tha@stud...|           2026|
| 14|   6513160|  Mr.|KUNANONT VUTIPRAS...|    3|kunanont.vut@stud...|           2026|
| 15|   6513161|  Mr.| JARUPAT CHODSITANAN|    3|jarupat.cho@stude...|           2026|
| 16|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|
| 17|   6513168|  Mr.| NOPPARUJ RITNATIKUL|    3|nopparuj.rit@stud...|           2026|
| 18|   6513170|  Mr.|   PATIHARN KAMENKIT|    3|patiharn.kam@stud...|           2026|
| 19|   6513172|  Mr.|PHATTARADANAI SOR...|    3|phattaradanai.sor...|           2026|
| 20|   6513174|  Mr.|WATDANAI SANSENAK...|    3|watdanai.san@stud...|           2026|
+---+----------+-----+--------------------+-----+--------------------+---------------+
only showing top 20 rows

In [ ]:
df_new.createOrReplaceTempView("student")

In [ ]:
spark.sql('SELECT * FROM student').show()

+---+----------+-----+--------------------+-----+--------------------+---------------+
|No.|Student ID|Title|      Name - Lasname|Class|             WebMail|Graduation Year|
+---+----------+-----+--------------------+-----+--------------------+---------------+
|  1|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|
|  2|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|
|  3|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|
|  4|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|
|  5|   6513112|  Mr.|THANAKRIT CHUTIWO...|    3|thanakrit.chi@stu...|           2026|
|  6|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|
|  7|   6513115|  Mr.|    PORAMES AIMLAONG|    3|porames.aim@stude...|           2026|
|  8|   6513118|  Mr.|        PISIT SAEJIA|    3|pisit.saa@student...|           2026|
|  9|   6513121|  Mr.|SUPAKORN THAVORNVONG|    3|supakorn.thv@stud...|           2026|
| 10|   6513122|  Mr.|SORAWIT PHATTHARA...|    3|sorawit.pha@stude...|           2026|
| 11|   6513123|  Mr.|   ANAPAT KITSOMMART|    3|anapat.kit@studen...|           2026|
| 12|   6513134|  Mr.|   PUTHIPONG YOMABUT|    3|putthipong.yom@st...|           2026|
| 13|   6513136|  Mr.|     MAHANNOP THABUA|    3|mahannop.tha@stud...|           2026|
| 14|   6513160|  Mr.|KUNANONT VUTIPRAS...|    3|kunanont.vut@stud...|           2026|
| 15|   6513161|  Mr.| JARUPAT CHODSITANAN|    3|jarupat.cho@stude...|           2026|
| 16|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|
| 17|   6513168|  Mr.| NOPPARUJ RITNATIKUL|    3|nopparuj.rit@stud...|           2026|
| 18|   6513170|  Mr.|   PATIHARN KAMENKIT|    3|patiharn.kam@stud...|           2026|
| 19|   6513172|  Mr.|PHATTARADANAI SOR...|    3|phattaradanai.sor...|           2026|
| 20|   6513174|  Mr.|WATDANAI SANSENAK...|    3|watdanai.san@stud...|           2026|
+---+----------+-----+--------------------+-----+--------------------+---------------+
only showing top 20 rows

In [ ]:
spark.sql("SELECT * FROM student WHERE Title = 'Ms.'").show()

+---+----------+-----+--------------------+-----+--------------------+---------------+
|No.|Student ID|Title|      Name - Lasname|Class|             WebMail|Graduation Year|
+---+----------+-----+--------------------+-----+--------------------+---------------+
|  1|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|
|  2|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|
|  3|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|
|  4|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|
|  6|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|
| 16|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|
| 22|   6513178|  Ms.|ANGELINA CHAINITH...|    3|angelina.cha@stud...|           2026|
+---+----------+-----+--------------------+-----+--------------------+---------------+

In [ ]:
df_new = df_new.withColumnRenamed('Name - Lasname','NameLastname')

In [ ]:
df_new.show()

+---+----------+-----+--------------------+-----+--------------------+---------------+
|No.|Student ID|Title|        NameLastname|Class|             WebMail|Graduation Year|
+---+----------+-----+--------------------+-----+--------------------+---------------+
|  1|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|
|  2|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|
|  3|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|
|  4|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|
|  5|   6513112|  Mr.|THANAKRIT CHUTIWO...|    3|thanakrit.chi@stu...|           2026|
|  6|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|
|  7|   6513115|  Mr.|    PORAMES AIMLAONG|    3|porames.aim@stude...|           2026|
|  8|   6513118|  Mr.|        PISIT SAEJIA|    3|pisit.saa@student...|           2026|
|  9|   6513121|  Mr.|SUPAKORN THAVORNVONG|    3|supakorn.thv@stud...|           2026|
| 10|   6513122|  Mr.|SORAWIT PHATTHARA...|    3|sorawit.pha@stude...|           2026|
| 11|   6513123|  Mr.|   ANAPAT KITSOMMART|    3|anapat.kit@studen...|           2026|
| 12|   6513134|  Mr.|   PUTHIPONG YOMABUT|    3|putthipong.yom@st...|           2026|
| 13|   6513136|  Mr.|     MAHANNOP THABUA|    3|mahannop.tha@stud...|           2026|
| 14|   6513160|  Mr.|KUNANONT VUTIPRAS...|    3|kunanont.vut@stud...|           2026|
| 15|   6513161|  Mr.| JARUPAT CHODSITANAN|    3|jarupat.cho@stude...|           2026|
| 16|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|
| 17|   6513168|  Mr.| NOPPARUJ RITNATIKUL|    3|nopparuj.rit@stud...|           2026|
| 18|   6513170|  Mr.|   PATIHARN KAMENKIT|    3|patiharn.kam@stud...|           2026|
| 19|   6513172|  Mr.|PHATTARADANAI SOR...|    3|phattaradanai.sor...|           2026|
| 20|   6513174|  Mr.|WATDANAI SANSENAK...|    3|watdanai.san@stud...|           2026|
+---+----------+-----+--------------------+-----+--------------------+---------------+
only showing top 20 rows

In [ ]:
df_new.createOrReplaceTempView("student")

In [ ]:
spark.sql("SELECT * FROM student").show()

+---+----------+-----+--------------------+-----+--------------------+---------------+
|No.|Student ID|Title|        NameLastname|Class|             WebMail|Graduation Year|
+---+----------+-----+--------------------+-----+--------------------+---------------+
|  1|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|
|  2|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|
|  3|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|
|  4|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|
|  5|   6513112|  Mr.|THANAKRIT CHUTIWO...|    3|thanakrit.chi@stu...|           2026|
|  6|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|
|  7|   6513115|  Mr.|    PORAMES AIMLAONG|    3|porames.aim@stude...|           2026|
|  8|   6513118|  Mr.|        PISIT SAEJIA|    3|pisit.saa@student...|           2026|
|  9|   6513121|  Mr.|SUPAKORN THAVORNVONG|    3|supakorn.thv@stud...|           2026|
| 10|   6513122|  Mr.|SORAWIT PHATTHARA...|    3|sorawit.pha@stude...|           2026|
| 11|   6513123|  Mr.|   ANAPAT KITSOMMART|    3|anapat.kit@studen...|           2026|
| 12|   6513134|  Mr.|   PUTHIPONG YOMABUT|    3|putthipong.yom@st...|           2026|
| 13|   6513136|  Mr.|     MAHANNOP THABUA|    3|mahannop.tha@stud...|           2026|
| 14|   6513160|  Mr.|KUNANONT VUTIPRAS...|    3|kunanont.vut@stud...|           2026|
| 15|   6513161|  Mr.| JARUPAT CHODSITANAN|    3|jarupat.cho@stude...|           2026|
| 16|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|
| 17|   6513168|  Mr.| NOPPARUJ RITNATIKUL|    3|nopparuj.rit@stud...|           2026|
| 18|   6513170|  Mr.|   PATIHARN KAMENKIT|    3|patiharn.kam@stud...|           2026|
| 19|   6513172|  Mr.|PHATTARADANAI SOR...|    3|phattaradanai.sor...|           2026|
| 20|   6513174|  Mr.|WATDANAI SANSENAK...|    3|watdanai.san@stud...|           2026|
+---+----------+-----+--------------------+-----+--------------------+---------------+
only showing top 20 rows

In [ ]:
spark.sql(
    """
    SELECT * FROM student
    WHERE Title = 'Ms.'
    ORDER BY NameLastname
    """
    ).show()

+---+----------+-----+--------------------+-----+--------------------+---------------+
|No.|Student ID|Title|        NameLastname|Class|             WebMail|Graduation Year|
+---+----------+-----+--------------------+-----+--------------------+---------------+
| 22|   6513178|  Ms.|ANGELINA CHAINITH...|    3|angelina.cha@stud...|           2026|
| 16|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|
|  4|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|
|  6|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|
|  2|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|
|  1|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|
|  3|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|
+---+----------+-----+--------------------+-----+--------------------+---------------+

In [ ]:
df_new.filter(df_new['Title']=='Ms.').sort("NameLastname").show()

+---+----------+-----+--------------------+-----+--------------------+---------------+
|No.|Student ID|Title|        NameLastname|Class|             WebMail|Graduation Year|
+---+----------+-----+--------------------+-----+--------------------+---------------+
| 22|   6513178|  Ms.|ANGELINA CHAINITH...|    3|angelina.cha@stud...|           2026|
| 16|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|
|  4|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|
|  6|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|
|  2|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|
|  1|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|
|  3|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|
+---+----------+-----+--------------------+-----+--------------------+---------------+

In [ ]:
df_new = df_new.drop('No.')

In [ ]:
df_new.show()

+----------+-----+--------------------+-----+--------------------+---------------+
|Student ID|Title|        NameLastname|Class|             WebMail|Graduation Year|
+----------+-----+--------------------+-----+--------------------+---------------+
|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|
|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|
|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|
|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|
|   6513112|  Mr.|THANAKRIT CHUTIWO...|    3|thanakrit.chi@stu...|           2026|
|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|
|   6513115|  Mr.|    PORAMES AIMLAONG|    3|porames.aim@stude...|           2026|
|   6513118|  Mr.|        PISIT SAEJIA|    3|pisit.saa@student...|           2026|
|   6513121|  Mr.|SUPAKORN THAVORNVONG|    3|supakorn.thv@stud...|           2026|
|   6513122|  Mr.|SORAWIT PHATTHARA...|    3|sorawit.pha@stude...|           2026|
|   6513123|  Mr.|   ANAPAT KITSOMMART|    3|anapat.kit@studen...|           2026|
|   6513134|  Mr.|   PUTHIPONG YOMABUT|    3|putthipong.yom@st...|           2026|
|   6513136|  Mr.|     MAHANNOP THABUA|    3|mahannop.tha@stud...|           2026|
|   6513160|  Mr.|KUNANONT VUTIPRAS...|    3|kunanont.vut@stud...|           2026|
|   6513161|  Mr.| JARUPAT CHODSITANAN|    3|jarupat.cho@stude...|           2026|
|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|
|   6513168|  Mr.| NOPPARUJ RITNATIKUL|    3|nopparuj.rit@stud...|           2026|
|   6513170|  Mr.|   PATIHARN KAMENKIT|    3|patiharn.kam@stud...|           2026|
|   6513172|  Mr.|PHATTARADANAI SOR...|    3|phattaradanai.sor...|           2026|
|   6513174|  Mr.|WATDANAI SANSENAK...|    3|watdanai.san@stud...|           2026|
+----------+-----+--------------------+-----+--------------------+---------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import avg
df_new.select(avg(df_new["Graduation Year"])).show()

+--------------------+
|avg(Graduation Year)|
+--------------------+
|  2025.8636363636363|
+--------------------+

In [ ]:
spark.sql("SELECT * FROM student").show()

+---+----------+-----+--------------------+-----+--------------------+---------------+
|No.|Student ID|Title|        NameLastname|Class|             WebMail|Graduation Year|
+---+----------+-----+--------------------+-----+--------------------+---------------+
|  1|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|
|  2|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|
|  3|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|
|  4|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|
|  5|   6513112|  Mr.|THANAKRIT CHUTIWO...|    3|thanakrit.chi@stu...|           2026|
|  6|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|
|  7|   6513115|  Mr.|    PORAMES AIMLAONG|    3|porames.aim@stude...|           2026|
|  8|   6513118|  Mr.|        PISIT SAEJIA|    3|pisit.saa@student...|           2026|
|  9|   6513121|  Mr.|SUPAKORN THAVORNVONG|    3|supakorn.thv@stud...|           2026|
| 10|   6513122|  Mr.|SORAWIT PHATTHARA...|    3|sorawit.pha@stude...|           2026|
| 11|   6513123|  Mr.|   ANAPAT KITSOMMART|    3|anapat.kit@studen...|           2026|
| 12|   6513134|  Mr.|   PUTHIPONG YOMABUT|    3|putthipong.yom@st...|           2026|
| 13|   6513136|  Mr.|     MAHANNOP THABUA|    3|mahannop.tha@stud...|           2026|
| 14|   6513160|  Mr.|KUNANONT VUTIPRAS...|    3|kunanont.vut@stud...|           2026|
| 15|   6513161|  Mr.| JARUPAT CHODSITANAN|    3|jarupat.cho@stude...|           2026|
| 16|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|
| 17|   6513168|  Mr.| NOPPARUJ RITNATIKUL|    3|nopparuj.rit@stud...|           2026|
| 18|   6513170|  Mr.|   PATIHARN KAMENKIT|    3|patiharn.kam@stud...|           2026|
| 19|   6513172|  Mr.|PHATTARADANAI SOR...|    3|phattaradanai.sor...|           2026|
| 20|   6513174|  Mr.|WATDANAI SANSENAK...|    3|watdanai.san@stud...|           2026|
+---+----------+-----+--------------------+-----+--------------------+---------------+
only showing top 20 rows

In [ ]:
spark.sql(
    """
    SELECT AVG(`Graduation Year`) FROM student
    """
).show()

+--------------------+
|avg(Graduation Year)|
+--------------------+
|  2025.8636363636363|
+--------------------+

In [ ]:
df_new.groupby('Class').avg('Graduation Year').show()

+-----+--------------------+
|Class|avg(Graduation Year)|
+-----+--------------------+
|    3|              2026.0|
|    4|              2025.0|
+-----+--------------------+

In [ ]:
spark.sql(
    """
    SELECT Class, AVG(`Graduation Year`) FROM student
    GROUP BY Class
    """
).show()

+-----+--------------------+
|Class|avg(Graduation Year)|
+-----+--------------------+
|    3|              2026.0|
|    4|              2025.0|
+-----+--------------------+

In [ ]:
df=df_new.na.drop()
df.show()

In [ ]:
from pyspark.sql.functions import udf

In [ ]:
def UpperCase(str):
  return str.upper()

In [ ]:
upperCaseUDF=udf(lambda z: UpperCase(z))

In [ ]:
df_new.withColumn("Uppercase Name",upperCaseUDF("NameLastname")).show()

+----------+-----+--------------------+-----+--------------------+---------------+--------------------+
|Student ID|Title|        NameLastname|Class|             WebMail|Graduation Year|      Uppercase Name|
+----------+-----+--------------------+-----+--------------------+---------------+--------------------+
|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|    PANFA TONSOMBOON|
|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|      PALARP WASUWAT|
|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|      TAWANWAD ONNOM|
|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|   CHUTIYA THANALUCK|
|   6513112|  Mr.|THANAKRIT CHUTIWO...|    3|thanakrit.chi@stu...|           2026|THANAKRIT CHUTIWO...|
|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|NIPATSA CHAINIWAT...|
|   6513115|  Mr.|    PORAMES AIMLAONG|    3|porames.aim@stude...|           2026|    PORAMES AIMLAONG|
|   6513118|  Mr.|        PISIT SAEJIA|    3|pisit.saa@student...|           2026|        PISIT SAEJIA|
|   6513121|  Mr.|SUPAKORN THAVORNVONG|    3|supakorn.thv@stud...|           2026|SUPAKORN THAVORNVONG|
|   6513122|  Mr.|SORAWIT PHATTHARA...|    3|sorawit.pha@stude...|           2026|SORAWIT PHATTHARA...|
|   6513123|  Mr.|   ANAPAT KITSOMMART|    3|anapat.kit@studen...|           2026|   ANAPAT KITSOMMART|
|   6513134|  Mr.|   PUTHIPONG YOMABUT|    3|putthipong.yom@st...|           2026|   PUTHIPONG YOMABUT|
|   6513136|  Mr.|     MAHANNOP THABUA|    3|mahannop.tha@stud...|           2026|     MAHANNOP THABUA|
|   6513160|  Mr.|KUNANONT VUTIPRAS...|    3|kunanont.vut@stud...|           2026|KUNANONT VUTIPRAS...|
|   6513161|  Mr.| JARUPAT CHODSITANAN|    3|jarupat.cho@stude...|           2026| JARUPAT CHODSITANAN|
|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|    CHALISA BUATHONG|
|   6513168|  Mr.| NOPPARUJ RITNATIKUL|    3|nopparuj.rit@stud...|           2026| NOPPARUJ RITNATIKUL|
|   6513170|  Mr.|   PATIHARN KAMENKIT|    3|patiharn.kam@stud...|           2026|   PATIHARN KAMENKIT|
|   6513172|  Mr.|PHATTARADANAI SOR...|    3|phattaradanai.sor...|           2026|PHATTARADANAI SOR...|
|   6513174|  Mr.|WATDANAI SANSENAK...|    3|watdanai.san@stud...|           2026|WATDANAI SANSENAK...|
+----------+-----+--------------------+-----+--------------------+---------------+--------------------+
only showing top 20 rows

In [ ]:
def LowerCase(str):
  return str.lower()

In [ ]:
lowerCaseUDF=udf(lambda z: LowerCase(z))

In [ ]:
df_new.withColumn("Lowercase Name",lowerCaseUDF("NameLastname")).show()

+----------+-----+--------------------+-----+--------------------+---------------+--------------------+
|Student ID|Title|        NameLastname|Class|             WebMail|Graduation Year|      Lowercase Name|
+----------+-----+--------------------+-----+--------------------+---------------+--------------------+
|   6413104|  Ms.|    PANFA TONSOMBOON|    4|panfa.ton@student...|           2025|    panfa tonsomboon|
|   6413108|  Ms.|      PALARP WASUWAT|    4|palarp.was@studen...|           2025|      palarp wasuwat|
|   6413213|  Ms.|      TAWANWAD ONNOM|    4|tawanwad.onn@stud...|           2025|      tawanwad onnom|
|   6513111|  Ms.|   CHUTIYA THANALUCK|    3|chutiya.tha@stude...|           2026|   chutiya thanaluck|
|   6513112|  Mr.|THANAKRIT CHUTIWO...|    3|thanakrit.chi@stu...|           2026|thanakrit chutiwo...|
|   6513114|  Ms.|NIPATSA CHAINIWAT...|    3|nipatsa.cha@stude...|           2026|nipatsa chainiwat...|
|   6513115|  Mr.|    PORAMES AIMLAONG|    3|porames.aim@stude...|           2026|    porames aimlaong|
|   6513118|  Mr.|        PISIT SAEJIA|    3|pisit.saa@student...|           2026|        pisit saejia|
|   6513121|  Mr.|SUPAKORN THAVORNVONG|    3|supakorn.thv@stud...|           2026|supakorn thavornvong|
|   6513122|  Mr.|SORAWIT PHATTHARA...|    3|sorawit.pha@stude...|           2026|sorawit phatthara...|
|   6513123|  Mr.|   ANAPAT KITSOMMART|    3|anapat.kit@studen...|           2026|   anapat kitsommart|
|   6513134|  Mr.|   PUTHIPONG YOMABUT|    3|putthipong.yom@st...|           2026|   puthipong yomabut|
|   6513136|  Mr.|     MAHANNOP THABUA|    3|mahannop.tha@stud...|           2026|     mahannop thabua|
|   6513160|  Mr.|KUNANONT VUTIPRAS...|    3|kunanont.vut@stud...|           2026|kunanont vutipras...|
|   6513161|  Mr.| JARUPAT CHODSITANAN|    3|jarupat.cho@stude...|           2026| jarupat chodsitanan|
|   6513163|  Ms.|    CHALISA BUATHONG|    3|chalisa.bua@stude...|           2026|    chalisa buathong|
|   6513168|  Mr.| NOPPARUJ RITNATIKUL|    3|nopparuj.rit@stud...|           2026| nopparuj ritnatikul|
|   6513170|  Mr.|   PATIHARN KAMENKIT|    3|patiharn.kam@stud...|           2026|   patiharn kamenkit|
|   6513172|  Mr.|PHATTARADANAI SOR...|    3|phattaradanai.sor...|           2026|phattaradanai sor...|
|   6513174|  Mr.|WATDANAI SANSENAK...|    3|watdanai.san@stud...|           2026|watdanai sansenak...|
+----------+-----+--------------------+-----+--------------------+---------------+--------------------+
only showing top 20 rows

# **Exercise 1**:** Explore the data using DataFrame** functions and SparkSQL




In this section, we explore the datasets using functions both from dataframes as well as corresponding SQL queries using sparksql. Note the different ways to achieve the same task!# New Section

In [ ]:
#  Exercise 1 Select and show basic data columns
df = spark.read.json('people.json')
df.show()

+----+----+---------+
| age| gpa|     name|
+----+----+---------+
|NULL|NULL|  Krisada|
|  30|NULL|   Pradya|
|  19|NULL|   Justin|
|NULL| 3.9|Teeravach|
+----+----+---------+

In [ ]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
|NULL|
+----+

In [ ]:
df.select('name').show()

+---------+
|     name|
+---------+
|  Krisada|
|   Pradya|
|   Justin|
|Teeravach|
+---------+

In [ ]:
spark.sql('SELECT age FROM people').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
|NULL|
+----+

In [ ]:
spark.sql('SELECT name FROM people').show()

+---------+
|     name|
+---------+
|  Krisada|
|   Pradya|
|   Justin|
|Teeravach|
+---------+

In [ ]:
# #Exercise 2 Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView('people')

In [ ]:
spark.sql("SELECT name,age FROM people").show()

+---------+----+
|     name| age|
+---------+----+
|  Krisada|NULL|
|   Pradya|  30|
|   Justin|  19|
|Teeravach|NULL|
+---------+----+

In [ ]:
df.sort("age").show()
spark.sql("SELECT * FROM people order by age desc").show()

+----+----+---------+
| age| gpa|     name|
+----+----+---------+
|NULL|NULL|  Krisada|
|NULL| 3.9|Teeravach|
|  19|NULL|   Justin|
|  30|NULL|   Pradya|
+----+----+---------+

+----+----+---------+
| age| gpa|     name|
+----+----+---------+
|  30|NULL|   Pradya|
|  19|NULL|   Justin|
|NULL|NULL|  Krisada|
|NULL| 3.9|Teeravach|
+----+----+---------+

In [ ]:
df.withColumnRenamed('name','Students_name').show()

+----+----+-------------+
| age| gpa|Students_name|
+----+----+-------------+
|NULL|NULL|      Krisada|
|  30|NULL|       Pradya|
|  19|NULL|       Justin|
|NULL| 3.9|    Teeravach|
+----+----+-------------+

In [ ]:
df.withColumnRenamed('Students_name','name').show()

+----+----+---------+
| age| gpa|     name|
+----+----+---------+
|NULL|NULL|  Krisada|
|  30|NULL|   Pradya|
|  19|NULL|   Justin|
|NULL| 3.9|Teeravach|
+----+----+---------+

In [ ]:
df_new=df.withColumn('Graduation age',df['age']+1)
df_new.show()

+----+----+---------+--------------+
| age| gpa|     name|Graduation age|
+----+----+---------+--------------+
|NULL|NULL|  Krisada|          NULL|
|  30|NULL|   Pradya|            31|
|  19|NULL|   Justin|            20|
|NULL| 3.9|Teeravach|          NULL|
+----+----+---------+--------------+

In [ ]:
df_new.drop('Graduation age').show()

+----+----+---------+
| age| gpa|     name|
+----+----+---------+
|NULL|NULL|  Krisada|
|  30|NULL|   Pradya|
|  19|NULL|   Justin|
|NULL| 3.9|Teeravach|
+----+----+---------+

In [ ]:
# Exercise 3 Perform basic filtering (Find only the person age >20)
df_new.filter(df_new['age']>20).show()

+---+----+------+--------------+
|age| gpa|  name|Graduation age|
+---+----+------+--------------+
| 30|NULL|Pradya|            31|
+---+----+------+--------------+

In [ ]:
# Perfom basic aggregation of data
df.groupBy("age").count().show()
spark.sql("SELECT age, COUNT(age) as count FROM people GROUP BY age").show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|NULL|    2|
|  30|    1|
+----+-----+

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|NULL|    0|
|  30|    1|
+----+-----+

In [ ]:
##Exercise 3 try with a count number of people with 2 different type of commands
df.count()

4

In [ ]:
spark.sql('SELECT COUNT(*) FROM people').show()

+--------+
|count(1)|
+--------+
|       4|
+--------+

In [ ]:
def UpperCase(str):
  return str.upper()

In [ ]:
from pyspark.sql.functions import udf

upperCaseUDF=udf(lambda z: UpperCase(z))

In [ ]:
df2=df.withColumn("Uppercase Name", upperCaseUDF("name"))

In [ ]:
df2.show()

+----+----+---------+--------------+
| age| gpa|     name|Uppercase Name|
+----+----+---------+--------------+
|NULL|NULL|  Krisada|       KRISADA|
|  30|NULL|   Pradya|        PRADYA|
|  19|NULL|   Justin|        JUSTIN|
|NULL| 3.9|Teeravach|     TEERAVACH|
+----+----+---------+--------------+

In [ ]:
#Exercise 4   Remove Duplicate
df.drop_duplicates().show()

+----+----+---------+
| age| gpa|     name|
+----+----+---------+
|NULL|NULL|  Krisada|
|NULL| 3.9|Teeravach|
|  30|NULL|   Pradya|
|  19|NULL|   Justin|
+----+----+---------+

In [ ]:
spark.sql('SELECT DISTINCT * FROM people').show()

+----+----+---------+
| age| gpa|     name|
+----+----+---------+
|NULL|NULL|  Krisada|
|NULL| 3.9|Teeravach|
|  30|NULL|   Pradya|
|  19|NULL|   Justin|
+----+----+---------+

In [ ]:
#Exercise 5 se average value to fill in the NULL
df = df.na.fill(df.select(avg(df['age'])).collect()[0][0],['age'])
df = df.na.fill(df.select(avg(df['gpa'])).collect()[0][0],['gpa'])
df.show()

+---+---+---------+
|age|gpa|     name|
+---+---+---------+
| 24|3.9|  Krisada|
| 30|3.9|   Pradya|
| 19|3.9|   Justin|
| 24|3.9|Teeravach|
+---+---+---------+

In [ ]:
#close session
spark.stop()